/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

/* BASE LAYOUT */

html {
	background-color: #ddd;
	background-image: -moz-linear-gradient(center top, #aaa, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
	background-image: linear-gradient(top, #aaa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0.2em;
}
header-wrapper{
	position: relative;
	z-index: 999;
	background-color: rgb(68,68,68);
	width: 100%;
	box-shadow: 0px 1px 0px rgb(221, 221, 221), 0px 0px 5px rgb(136, 136, 136), 0px 50px 50px -50px rgb(17, 17, 17) inset;
	background: url(../images/Rap_logo.png) 50% 50% no-repeat transparent;
}
#header-wrapper .inner .left {
    display: inline-block;
    position: absolute;
    left: 0px;
    height: 75px;
    /*background-image: url("images/Rap_logo2.png");*/
    width: 100%;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 75px;
    text-indent: 40px;
    text-transform: uppercase;
    font-family: OverpassBold;
    font-size: 22px;
    color: rgb(238, 238, 238);
}
#header-wrapper .inner .right {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 24px;
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    box-shadow: 0px 0px 0px 1px rgb(119, 119, 119), 0px 0px 5px 0px rgb(17, 17, 17), 0px -5px 10px rgba(0, 0, 0, 0.3) inset;
    margin-left: 4px;
    border-radius: 3px 3px 3px 3px;
    background-color: rgba(255, 255, 255, 0.2);
}
#header-wrapper .button {
    height: 100%;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.3);
    float: left;
    -moz-transition: all 0.1s ease-in 0s;
}

body {
    background: url("../images/body-bg.png") repeat-x fixed 0 0 #01172D;
   /* background: #807A7A;*/
	color: #333333;
	margin: 0 auto;
	/*max-width: 960px;
	min-width: 960px;*/
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	   -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #255b17;
}
/*eso stuff*/
.eso-inner {
    margin: 0 auto;
    width: 96%;
}
.eso-inner:before, .eso-inner:after {
    content: "";
    display: table;
}
.eso-inner:after {
    clear: both;
}

#eso-topbar {
    height: 30px;
}
#eso-topbar .logo {
    /*background: url("../images/spotlight_sml_logo.png") no-repeat scroll 0 5px transparent;*/
    /*background: url("../images/test-logo.png") no-repeat scroll 0 5px transparent;*/
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 26px !important   ;
    text-decoration: none;
}
#eso-topbar .eso-logo {
    display: inline-block;
    float: left;
    margin-left: 9px;
    margin-top: 7px;
}
#eso-topbar .quick-search {
    background: url("../images/search-bg.png") no-repeat scroll right center #CCCCCC;
    border: 1px solid #AAAAAA;
    float: right;
    height: 16px;
    line-height: 18px;
    margin: 4px 5px 0 0;
    padding: 2px;
    width: 100px;
}
#eso-topbar input.quick-search:focus {
    background: url("../images/search-bg.png") no-repeat scroll right center #FFFFFF;
    transition: all 0.5s ease 0s;
    width: 200px;
}
#eso-topbar .quick-menu {
}
#eso-topbar .quick-menu li {
    float: right;
    margin: 5px;
}
#eso-topbar .quick-menu li a {
    color: #FFFFFF;
    text-decoration: none;
}
#eso-topbar .quick-menu li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
#eso-topbar .quick-menu li li {
    float: none;
    margin: 0;
    padding: 0;
}
#eso-topbar .quick-menu li li a {
    color: #333333;
    text-decoration: none;
}
#eso-topbar .quick-menu li li a:hover {
    color: #000000;
    text-decoration: none;
}
#eso-topbar .eso-logo {
    margin-top: 11px;
    margin-left: 9px;
    float: left;
    display: inline-block;
    height: 11px;
    background: none repeat scroll 0% 0% rgb(195, 12, 0);
    font-size: 10px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 3px 3px 3px 3px;
    padding: 0px 3px 1px;
    font-family: Arial,Helvetica,sans-serif;
}
#eso-topbar .logo {
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
/*    background: url("/javax.faces.resource/logo.png.jsf?ln=images") no-repeat scroll 0px 5px transparent;*/
    padding-left: 26px;
    float: left;
    display: inline-block;
}

.caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    vertical-align: top;
    border-top: 4px solid rgb(255, 255, 255);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    opacity: 0.6;
}
/*eso navigation style*/
.navbar1 {
    background-color: #BF000D;
    background-image: -moz-linear-gradient(center top , #CC0011, #BF000D);
    border-radius: 6px 5px 0 0;
    height: 46px;
    overflow: visible;
}
.navbar1 .nav1 > li {
    display: block;
    float: left;
}
.navbar1 .nav1 > li > a {
    color: #FFFFFF;
    float: none;
    line-height: 18px;
    padding: 10px 12px 12px;
    position: relative;
    text-decoration: none;
}
.navbar1 .nav1 > li > a:hover {
    background-image: -moz-linear-gradient(center top , rgba(214, 0, 23, 0), #73000D);
    color: #EEEEEE;
    text-decoration: none;
}
.navbar1 .nav1 .active {
    border-left: 0 solid #232323;
}
.navbar1 .nav1 .active > a, .navbar1 .nav1 .active > a:hover {
    background-image: -moz-linear-gradient(center top , rgba(174, 0, 16, 0.3), #73000D);
    color: #FFFFFF;
    text-decoration: none;
}
.nav1 {
    list-style: none outside none;
    margin-bottom: 18px;
    margin-left: 0;
}
.nav1 > li > a {
    display: block;
}
.navbar1 .nav1 > li > a:before {
    background-image: -moz-linear-gradient(center top , #CC0011, #910008, #BF000D);
    content: "";
    display: block;
    float: left;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}
.navbar1 .nav1 > li > a:after {
    background-image: -moz-linear-gradient(center top , #C2000E, #E3353D, #C2000E);
    content: "";
    display: block;
    float: left;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}
.navbar1 .nav1 > li:first-child > a:after {
    width: 0;
}
.navbar1 .nav1:after {
    background-image: -moz-linear-gradient(center top , #D40016, #E3353D, #B40414);
    content: "";
    display: block;
    float: left;
    height: 40px;
    left: 100%;
    position: absolute;
    top: 0;
    width: 1px;
}
.nav1 > li > a:hover {
    text-decoration: none;
}
.nav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1020;
}
.navbar1 .brand:hover {
    text-decoration: none;
}
.navbar1 .brand {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin-left: -20px;
    padding: 8px 20px 12px;
}
.navbar1 .navbar1-text {
    line-height: 40px;
    margin-bottom: 0;
}
.navbar1 .navbar1-link {
    color: #999999;
}
.navbar1 .navbar1-link:hover {
    color: #FFFFFF;
}
.navbar1 .btn, .navbar1 .btn-group {
    margin-top: 5px;
}
.navbar1 .btn-group .btn {
    margin: 0;
}
.navbar1-form {
    margin-bottom: 0;
}
.navbar1-form:before, .navbar1-form:after {
    content: "";
    display: table;
}
.navbar1-form:after {
    clear: both;
}
.navbar1-form input, .navbar1-form select, .navbar1-form .radio, .navbar1-form .checkbox {
    margin-top: 5px;
}
.navbar1-form input, .navbar1-form select {
    display: inline-block;
    margin-bottom: 0;
}
.navbar1-form input[type="image"], .navbar1-form input[type="checkbox"], .navbar1-form input[type="radio"] {
    margin-top: 3px;
}
.navbar1-form .input-append, .navbar1-form .input-prepend {
    margin-top: 6px;
    white-space: nowrap;
}
.navbar1-form .input-append input, .navbar1-form .input-prepend input {
    margin-top: 0;
}
.navbar1 .nav1 {
    display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}
.navbar1 .nav1.pull-right {
    float: right;
}
.navbar1 .btn {
    display: inline-block;
    line-height: 18px;
    margin: 5px 5px 6px;
    padding: 4px 10px;
}
.navbar1 .btn-group {
    margin: 0;
    padding: 5px 5px 6px;
}
.navbar1 .divider-vertical {
    background-color: #222222;
    border-right: 1px solid #333333;
    height: 40px;
    margin: 0 9px;
    overflow: hidden;
    width: 1px;
}
.navbar1 .nav1.pull-right {
    margin-left: 10px;
    margin-right: 0;
}
.navbar1 .btn-navbar1 {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    display: none;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
}
.navbar1 .btn-navbar1:hover, .navbar1 .btn-navbar1:active, .navbar1 .btn-navbar1.active, .navbar1 .btn-navbar1.disabled, .navbar1 .btn-navbar1[disabled] {
    background-color: #222222;
}
.navbar1 .btn-navbar1:active, .navbar1 .btn-navbar1.active {
}
.navbar1 .btn-navbar1 .icon-bar {
    background-color: #F5F5F5;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}
.navbar1 .nav1 li.dropdown .dropdown-toggle .caret, .navbar1 .nav1 li.dropdown.open .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar1 .nav1 li.dropdown.active .caret {
    opacity: 1;
}
.navbar1 .nav1 li.dropdown.open > .dropdown-toggle, .navbar1 .nav1 li.dropdown.active > .dropdown-toggle, .navbar1 .nav1 li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
}
.navbar1 .nav1 li.dropdown.active > .dropdown-toggle:hover {
    color: #FFFFFF;
}
.navbar1 .pull-right .dropdown-menu, .navbar1 .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.navbar1 .pull-right .dropdown-menu:before, .navbar1 .dropdown-menu.pull-right:before {
    left: auto;
    right: 12px;
}
.navbar1 .pull-right .dropdown-menu:after, .navbar1 .dropdown-menu.pull-right:after {
    left: auto;
    right: 13px;
}
.nav-tabs {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 0 0;
    padding: 5px 5px 0;
}
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
    content: "";
    display: table;
}
.nav-tabs:after, .nav-pills:after {
    clear: both;
}
.nav-tabs > li, .nav-pills > li {
    float: left;
}
.nav-tabs > li > a, .nav-pills > li > a {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}
.nav-tabs {
    border-bottom: 1px solid #DDDDDD;
}
.nav-tabs > li {
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.nav-tabs > li > a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #EEEEEE #EEEEEE #DDDDDD;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li > a {
    margin-right: 0;
}
.nav-tabs.nav-stacked {
    border-bottom: 0 none;
}
.nav-tabs.nav-stacked > li > a {
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
    border-radius: 4px 4px 0 0;
}
.nav-tabs.nav-stacked > li:last-child > a {
    border-radius: 0 0 4px 4px;
}
.nav-tabs.nav-stacked > li > a:hover {
    border-color: #DDDDDD;
    z-index: 2;
}
.nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px;
}
.nav-tabs .dropdown-menu {
    border-radius: 0 0 5px 5px;
}
.nav-pills .dropdown-menu {
    border-radius: 4px 4px 4px 4px;
}
.nav-tabs .dropdown-toggle .caret, .nav-pills .dropdown-toggle .caret {
    border-bottom-color: #111111;
    border-top-color: #333333;
    margin-top: 6px;
}
.nav-tabs .dropdown-toggle:hover .caret, .nav-pills .dropdown-toggle:hover .caret {
    border-bottom-color: #B11420;
    border-top-color: #B11420;
}
.nav-tabs .active .dropdown-toggle .caret, .nav-pills .active .dropdown-toggle .caret {
    border-bottom-color: #333333;
    border-top-color: #333333;
}
.nav1 > .dropdown.active > a:hover {
    color: #000000;
    cursor: pointer;
}
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav1 > li.dropdown.open.active > a:hover {
    background-color: #999999;
    border-color: #999999;
    color: #FFFFFF;
}
.nav1 li.dropdown.open .caret, .nav1 li.dropdown.open.active .caret, .nav1 li.dropdown.open a:hover .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
    opacity: 1;
}

.footer {
    /*color: #FFFFFF;*/
    padding: 10px 0;
    width: 100%;
    color: rgb(255, 255, 255);
}
.footer p {
    margin: 0 10px;
    color: #FFFFFF;
}
.footer a {
    color: #5BA7F2;
}
.footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.hss-logo {
    background: url("../images/HSS-logo.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 47px;
    margin-top: 4px;
    width: 42px;
}
.copyright {
    margin-left: 45px;
}

.esobreadcrumb {
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(center top , #F7F7F7, #F1F1F1);
    background-repeat: repeat-x;
    border-bottom: 1px solid #F8F8F8;
    box-shadow: 0 1px 0 #E1E1E1;
    list-style: none outside none;
    margin: 0 0 1px;
}
.esobreadcrumb ul {
    margin: 2px 10px;
}
.esobreadcrumb h1 {
    font-size: 18px;
    line-height: 14px;
}
.pull-left {
    float: left;
}
ul {
    list-style: disc outside none;
}
ul, ol {
    margin: 0 0 9px 5px;
    padding: 0;
}

.new-request {
    margin-top: 20px;
}
/*.eso-table {
    border-collapse: separate;
    border-left: 1px solid #E4E4E4;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid #E4E4E4;
    margin-bottom: 18px;
    width: 98%;
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 98%;
}*/
/*end of eso nav style*/

/*form columns*/
#portfolio

.group{max-width: 80em; margin: 0 auto;}
.group > .column{ width: 45%; float:left;}
.group > .column:last-child{float:right}
.group > .column .fieldcontain .property-label{width: 40%;}

.group:after{content:""; width: 100%; clear:both; display:block;}

@media max-width(400){
.column{width: 100% !important}

    }

/*end of form style*/


#maincontent-wrapper {
    width: 100%;
    background-color: white;
}


.maincontent .inner {
    padding-top: 30px;
    padding-bottom: 60px;
    min-height: 800px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: rgb(238, 238, 238);
}

#spotlightLogo {
	background-color: #abbf78;
	position: relative;
    /*z-index: 999;*/
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: 40px;
    box-shadow: 0px 1px 0px rgb(221, 221, 221), 0px 0px 5px rgb(136, 136, 136), 0px 50px 50px -50px rgb(17, 17, 17) inset;
}


/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a:link, a:visited, a:hover {
	color: #48802c;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #48802c;
	font-weight: normal;
	/*font-size: 1.25em;*/
    font-size: 20px;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding: 0;
}
li {
	line-height: 15%;
}

/*weblist list split for 2 columns*/

#weblist .ul{
  width:760px;
  margin-bottom:20px;
  overflow:hidden;
  border-top:1px solid #ccc;
}
.weblist li{
  line-height:1.5em;
  border-bottom:1px solid #ccc;
  float:left;
  display:inline;
}
.weblist double li  { width:50%;} /* 2 col */

img {
	border: 0;
}


/* GENERAL */

#spotlightLogo a {
	display: inline-block;
	margin: 0.2em;
}

.content {
}

.content h1 {
	border-bottom: 1px solid #CCCCCC;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}
/* Codemirror stuff taken from grails website - soon a plugin *//*

@charset "UTF-8";
.CodeMirror {
    line-height: 1em;
    font-family: monospace;
}
.CodeMirror-scroll {
    overflow: auto;
    height: 300px;
    */
/* This is needed to prevent an IE[67] bug where the scrolled content
is visible outside of the scrolling box. *//*

    position: relative;
    outline: none;
}
.CodeMirror-gutter {
    position: absolute; left: 0; top: 0;
    z-index: 10;
    background-color: #f7f7f7;
    border-right: 1px solid #eee;
    min-width: 2em;
    height: 100%;
}
.CodeMirror-gutter-text {
    color: #aaa;
    text-align: right;
    padding: .4em .2em .4em .4em;
    white-space: pre !important;
}
.CodeMirror-lines {
    padding: .4em;
    white-space: pre;
}
.CodeMirror pre {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-width: 0; margin: 0; padding: 0; background: transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 0; margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
}
.CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}
.CodeMirror-wrap .CodeMirror-scroll {
    overflow-x: hidden;
}
.CodeMirror textarea {
    outline: none !important;
}
.CodeMirror pre.CodeMirror-cursor {
    z-index: 10;
    position: absolute;
    visibility: hidden;
    border-left: 1px solid black;
    border-right: none;
    width: 0;
}
.cm-keymap-fat-cursor pre.CodeMirror-cursor {
    width: auto;
    border: 0;
    background: transparent;
    background: rgba(0, 200, 0, .4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6600c800, endColorstr=#4c00c800);
}
*/
/* Kludge to turn off filter in ie9+, which also accepts rgba *//*

.cm-keymap-fat-cursor pre.CodeMirror-cursor:not(#nonsense_id) {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.CodeMirror pre.CodeMirror-cursor.CodeMirror-overwrite {}
.CodeMirror-focused pre.CodeMirror-cursor {
    visibility: visible;
}
div.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused div.CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-searching {
    background: #ffa;
    background: rgba(255, 255, 0, .4);
}
*/
/* Default theme *//*

.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #085;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}
.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}
.cm-s-default span.cm-header {color: blue;}
.cm-s-default span.cm-quote {color: #090;}
.cm-s-default span.cm-hr {color: #999;}
.cm-s-default span.cm-link {color: #00c;}
span.cm-header, span.cm-strong {font-weight: bold;}
span.cm-em {font-style: italic;}
span.cm-emstrong {font-style: italic; font-weight: bold;}
span.cm-link {text-decoration: underline;}
div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
*/



/* footer stuff */
.scaffold-list h1 {
	border: none;
}

footer {
	/*background: #abbf78;*/
	color: rgba(0, 0, 0, 0.4);
	/*color: #000;*/
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
	min-width: 750px;
    box-shadow: 0px 1px 0px rgb(221, 221, 221) inset;
    line-height: 17px;
    position: relative;
    vertical-align: baseline;

}

.footer a {
	color: #255b17;
}
.footer-inner {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    margin: auto;
    max-width: 950px;
    min-width: 750px;
    padding: 10px 0px;
    position: relative;
}
.footer-left {
    display: inline-block;
    left: 0px;
    position: relative;
    color: rgba(0, 0, 0, 0.4);
}
.footer-right {
	display: inline-block;
    position: absolute;
    right: 0px;
    top: -5px;
}
.footer-right img {
    border: 0 none;
    height: auto;
    max-width: 30%;
    vertical-align: middle;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
	background-color: #efefef;
	padding: 0.2em 0.75em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 40;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 1.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #666666;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

/* Inner navigation for forms */

#pub-nav .btn-group {
    position: relative;
    display: inline-block;
    font-size: 0px;
    white-space: nowrap;
    vertical-align: middle;
}
/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.2em 0.25em;
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
	color: #666666;
	text-align: left;
	width: 10%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 15%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 1.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 5px solid #cccccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
	margin: 0 0.25em 0 0;
	align: right;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textArea {
	width: 470px;
	height: 200px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	   -moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	        box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */



.errormessage, .warningmessage, .infomessage, .plainmessage {
    background-color: #EFEFEF;
}
.box, div.floatinginfobox {
    background-color: #FAFAFA;
}
.warningmessage {
    background-image: url("/xwiki/resources/icons/silk/error.png");
    color: #D09000;
}
.errormessage, .warningmessage, .infomessage, .successmessage, .plainmessage {
    background: none no-repeat scroll 6px 8px #EFEFEF;
    border: 1px dotted #E8E8E8;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
    margin: 4px 0;
    overflow: auto;
    padding: 8px 28px;
    text-align: justify;
}
.errormessage, .warningmessage, .infomessage, .plainmessage {
    background-color: #EFEFEF;
}
.box, div.floatinginfobox {
    background-color: #FAFAFA;
}
.errormessage {
    background-image: url("/xwiki/resources/icons/silk/exclamation.png");
    color: #CC3333;
}
.errormessage, .warningmessage, .infomessage, .successmessage, .plainmessage {
    background: none no-repeat scroll 6px 8px #EFEFEF;
    border: 1px dotted #E8E8E8;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
    margin: 4px 0;
    overflow: auto;
    padding: 8px 28px;
    text-align: justify;
}
.errormessage, .warningmessage, .infomessage, .plainmessage {
    background-color: #EFEFEF;
}
.box, div.floatinginfobox {
    background-color: #FAFAFA;
}
.infomessage {
    background-image: url("/xwiki/resources/icons/silk/information.png");
    color: #336699;
}
.errormessage, .warningmessage, .infomessage, .successmessage, .plainmessage {
    background: none no-repeat scroll 6px 8px #EFEFEF;
    border: 1px dotted #E8E8E8;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
    margin: 4px 0;
    overflow: auto;
    padding: 8px 28px;
    text-align: justify;
}
/* wiki macros above*/

.errors,
.message {
	font-size: 1.0em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: normal;
	line-height: 1.0em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover, tr:hover {
	background: #E1F2B6;
}

/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	        box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input,
.buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save,
.ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save {
	padding-left: 36px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}

.site-listing, .site-listing *{-moz-box-sizing: border-box; box-sizing: border-box; }
.site-listing{width: 30%; margin:.5em; padding: 1em 0em 1em 1em ; display: inline-block; float:left; box-shadow:  inset 0 -2em  5em #fafafa, 0 .15em  .15em rgba(0,0,0,0.2); margin-bottom:2em;}

.site-listing > div:first-child{font-size:2em; margin-bottom:.5em;}

.property-list{position:relatve;}
.property-list:after{content:""; display: block; height: 1px; width: 100%; clear:both;}

.property-list ul a{background-color: ; color: #69c; display: block; width: 100%; }
.property-list ul{list-style:none; marign:0; padding: 0; }
.property-list ul li  > span:first-child{display: block; margin: 0; width: 100%; display:block; float:none; font-weight: bold; }
.property-list ul li  span{ margin-left: 0 !important;}

#back-top {
    position: relative;
    bottom: 30px;

}

.portdetails-listing, .portdetails-listing *{-moz-box-sizing: border-box; box-sizing: border-box; }
.portdetails-listing{width: 30%; margin:.5em; padding: 1em 0em 1em 1em ; display: inline-block; float:left; box-shadow:  inset 0 -2em  5em #fafafa, 0 .15em  .15em rgba(0,0,0,0.2); margin-bottom:2em;}

.portdetails-listing > div:first-child{font-size:2em; margin-bottom:.5em;}

.portfolio-list{position:relatve;}
.portfolio-list:after{content:""; display: block; height: 1px; width: 100%; clear:both;}

.portfolio-list ul a{background-color: ; color: #69c; display: block; width: 100%; }
.portfolio-list ul{list-style:none; marign:0; padding: 0; }
.portfolio-list ul li  > span:first-child{display: block; margin: 0; width: 100%; display:block; float:none; font-weight: bold; }
.portfolio-list ul li  span{ margin-left: 0 !important;}



.pubdetails {
    width: 230px;
    border-right: 1px solid rgb(253, 156, 156);
    float: left;
    font-size: 10px;
}

